@model Budget

@if (ViewBag.BudgetDeletedSuceess == true)
{
    <h2>Budget Deleted Successfully</h2>
    <br />
    <a asp-controller="Budget" asp-action="ListBudgets" class="btn btn-success">View Budgets</a>
}
else
{
    <h2>Error in Deleting</h2>
    <br />
    <a asp-controller="Budget" asp-action="ListBudgets" class="btn btn-success">View Budgets</a>
}

