@{
    ViewBag.Title = "How to Use the App";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Welcome, Learn How to use the App!</h1>
            <p class="lead">This page is where you can learn how to use the app.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mb-4">
            <div class="cardabout border-0 shadow">
                <img src="~/images/1.png" class="card-img-top" alt="Create Budgets/View Budgets">
                <div class="card-body text-center">
                    @*<h5 class="card-title mb-4">Create Budgets/View Budgets</h5>*@
                    <p class="card-text">Firstly, you need to create budgets for various categories like food, housing, and entertainment, among others. These budgets can be associated with a specific username. Additionally, you can view the existing budgets of different users.</p>
                    @*<a href="#" class="btn btn-primary">Home</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="cardabout border-0 shadow">
                <img src="~/images/2.png" class="card-img-top" alt="Add Transactions/View Transactions">
                <div class="card-body text-center">
                    @*<h5 class="card-title mb-4">Add Transactions/View Transactions</h5>*@
                    <p class="card-text">Secondly, you can add transactions by selecting a username and a relevant category such as food or housing. You also have the option to view the transaction history for a specific user and delete a transaction if necessary.</p>
                    @*<a href="#" class="btn btn-primary">Home</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="cardabout border-0 shadow">
                <img src="~/images/3.png" class="card-img-top" alt="Savings Tracker">
                <div class="card-body text-center">
                    @*<h5 class="card-title mb-4">Track Savings</h5>*@
                    <p class="card-text">Thirdly, you can monitor your savings for a particular username by keeping track of the remaining budget for each category. This feature helps you achieve your savings goals and make informed decisions about your spending.</p>
                    @*<a href="#" class="btn btn-primary">Home</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
