@{
    ViewBag.Title = "About the Team Members";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Meet Our Team</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam euismod massa, sit amet aliquam turpis rhoncus vitae.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow">
                <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Team Member 1">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">John Doe</h5>
                    <div class="card-text text-muted mb-2">Co-founder / CEO</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam euismod massa, sit amet aliquam turpis rhoncus vitae. Sed sollicitudin quis enim sit amet bibendum. </p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow">
                <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Team Member 2">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Jane Smith</h5>
                    <div class="card-text text-muted mb-2">Co-founder / CTO</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam euismod massa, sit amet aliquam turpis rhoncus vitae. Sed sollicitudin quis enim sit amet bibendum. </p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow">
                <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Team Member 2">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Jane Smith</h5>
                    <div class="card-text text-muted mb-2">Co-founder / CTO</div>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam euismod massa, sit amet aliquam turpis rhoncus vitae. Sed sollicitudin quis enim sit amet bibendum. </p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
       </div>
