@{
    ViewBag.Title = "About the Team Members";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Meet Our Team</h1>
            <p class="lead">Introducing our team who designed a personal finance app, essential for college students.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mb-4">
            <div class="cardabout border-0 shadow">
                <img src="~/images/avatar-1.png" class="card-img-top" alt="Team Member 1">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Tyson Levy</h5>
                    <div class="card-text text-muted mb-2">Developer</div>
                    <p class="card-text">Tyson is also a senior student majoring in Information Technology with a focus on game development at the University of Cincinnati, United States. As a dedicated game developer, Tyson enjoys creating new games using Unity.</p>
                    <ul class="list-inline mb-0">
                        @*<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>*@
                        <li class="list-inline-item"><a href="https://github.com/TysonLevy"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="cardabout border-0 shadow">
                <img src="~/images/avatar-1.png" class="card-img-top" alt="Team Member 2">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Pratik Chaudhari</h5>
                    <div class="card-text text-muted mb-2">Developer</div>
                    <p class="card-text">Pratik is a senior student majoring in Information Technology with a focus on software development at the University of Cincinnati, United States. As an enthusiastic software developer, Pratik constantly strives to learn and adapt to emerging technologies and trends. </p>
                    <ul class="list-inline mb-0">
                        @*<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>*@
                        <li class="list-inline-item"><a href="https://github.com/pratxks"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="cardabout border-0 shadow">
                <img src="~/images/avatar-1.png" class="card-img-top" alt="Team Member 2">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Brian Kenkel</h5>
                    <div class="card-text text-muted mb-2">Developer</div>
                    <p class="card-text">Brian is a senior student majoring in Information Technology at the University of Cincinnati, United States. He is particularly passionate about cloud computing and cybersecurity, and constantly seeks to expand his knowledge and skills in these areas.</p>
                    <ul class="list-inline mb-0">
                        @*<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>*@
                        <li class="list-inline-item"><a href="https://github.com/bkenks"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
       </div>
