@if (ViewBag.TransactionDeletedSuceess == true)
{
    <h2>Transaction Deleted Successfully</h2>
    <br />
    <a asp-controller="Transaction" asp-action="InitViewTransaction" class="btn btn-primary">View Transactions</a>
}
else
{
    <h2>Error in Deleting Transaction</h2>
    <br />
    <a asp-controller="Transaction" asp-action="InitViewTransaction" class="btn btn-primary">View Transactions</a>
}

